# Configuración de Base de Datos (MySQL)
# Para PlanetScale: DB_HOST, DB_USER, DB_PASSWORD, DB_NAME te lo da PlanetScale
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=qrmenu_pro
DB_PORT=3306
DB_POOL_LIMIT=10
# PlanetScale necesita SSL=true
DB_SSL=false

# Seguridad (cambiar en producción!!)
JWT_SECRET=qrmenu-secret-key-2024

# Puerto del servidor
PORT=8000
